.IconHeader{
  width: 100%;
}

.IconHeader-header-container{
  width: 100%;
}

.IconHeader-admin-icon{
  width: 35px;
  float: right;
  margin: 20px;
}

.IconHeader-user-voucher-icon{
  width: 35px;
  float: right;
  margin: 20px;
}