@import "src/styles/core/reset";

@font-face {
  font-family: "GilroyRegular";
  src: url('../../resources/fonts/Gilroy-Regular.otf') format("trueType");
  font-weight: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url('../../resources/fonts/Gilroy-Light.otf') format("trueType");
  font-weight: normal;
}

@font-face {
  font-family: "GilroyMedium";
  src: url('../../resources/fonts/Gilroy-Medium.otf') format("trueType");
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProRegular";
  src: url('../../resources/fonts/SourceSansPro-Regular.otf') format("trueType");
  font-weight: normal;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #ffffff;
  white-space: nowrap;
  padding: 14px;
  border: 1px solid #F8E9EC;
  color: gray;

  letter-spacing: 0.015em;
  font-family: GilroyLight, sans-serif;
  font-style: normal;
  font-size: 16px;
  margin: 5px;
}

input:focus {
  outline: none;
}

.editListTitle {
  font-weight: 500;
  font-size: 1.3rem;
}

.optionsListContainer {
  padding: 20px;
}

.optionsListContainer div {
  margin: 20px;
}
