@import "src/styles/core/reset";

@font-face {
  font-family: "GilroyRegular";
  src: url('../../resources/fonts/Gilroy-Regular.otf') format("trueType");
  font-weight: normal;
}

@font-face {
  font-family: "GilroyLight";
  src: url('../../resources/fonts/Gilroy-Light.otf') format("trueType");
  font-weight: normal;
}

@font-face {
  font-family: "GilroyMedium";
  src: url('../../resources/fonts/Gilroy-Medium.otf') format("trueType");
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProRegular";
  src: url('../../resources/fonts/SourceSansPro-Regular.otf') format("trueType");
  font-weight: normal;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
}

select {
  font-family: "GilroyLight";
  font-size: 1.2rem;
  padding: 17px;
  border: 1px solid #e0e0e0;
  font-weight: 600;
  width: 17rem;
  backgorund-color: red;
  color: #333333;
}

select:focus, select:active {
  border: 1px solid #e0e0e0;
}

select option {
  padding: 15px;
  border: 10px solid red;
}
