.MultiselectDropdownQuestion{
  width: 80%;
  padding: 5%;
  margin: 3%;
}

.MultiselectDropdownQuestion-question{
  margin-bottom: 4%;
}

.MultiselectDropdownQuestion fieldset {
  border-radius: 0;
}

.MultiselectDropdownQuestion .MuiFormControl-root {
  width: 100%;
}
