.testmailButton{
  width: 50%;
  justify-self: center;
  padding: 1em;
}
.customContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.adminPanelContainer .header {
  margin-bottom: 5%;
}

.adminPanelContainer .bottom {
  margin-left:3%;
  margin-right:3%;
}
