

.ProfileForm{
  margin-bottom: 10rem;
  margin-left: 20px;
}

@media screen and (min-width: 900px) {
  .ProfileForm{
    margin-left: 5%;
  }
}

.Multi-select-container {

  .labelWrapper {
    background-color: #f0f0f0;
    padding: .3rem;
    width: 70%;
    top: 8px;
    left: 8px;
    position: relative;
    z-index: 999;

    label {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
      color: rgba(0, 0, 0, 0.54);
      font-size: .8rem;
    }
  }


  .chip {
    align-items: center;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 11px;
    color: black;
    display: inline-flex;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 4px 10px;
    font-family: SourceSansProRegular, sans-serif;
  }

  input {
    background: transparent;
    border: none;
    margin-top: 3px;
    max-height: 42px;
    color: currentColor;
    font: inherit;
  }

  input::placeholder {
    width: 100%;
    color:lightgrey;
    font-size: 16px;
  }

  fieldset{
    margin-left: 2rem;
  }

}


.highlightOption {
  background: rgba(0, 0, 0, 0.08);
  color: black;
}

.multiSelectContainer li:hover {
  background: whitesmoke;
  color: black;
  cursor: pointer;
}

.closeIcon {
  cursor: pointer;
  float: right;
  height: 13px;
  margin-left: 5px;
  width: 13px;
  color: black;
}

.searchBox {
  width: auto;
  font-family: SourceSansProRegular, sans-serif;
  font-size: 1.1rem;
  overflow-y: clip;
}

.searchWrapper {
  border: 1px solid #b9b9b9;
  border-radius: 0;
  min-height: 22px;
  padding: 5px;
  position: relative;
}
