.editListOptions {
  display: flex;
  align-items: center;
}

.editListOptions .MuiFormControl-root {
  width: 100%;
}

.sortWrapper {
  position: relative;
  float: right;

  label {
    position: absolute;
    z-index: 1;
    left: 1.6em;
    top: 0.6ex;
    background-color: white;
    padding: 0 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.8rem;
  }

  .sortContent {
    border: 1px solid rgba(185, 185, 185, 255);
    border-radius: 4px;
    margin: 10px;
    padding: 0.5em 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiToggleButton-root {
    border: 1px solid rgba(185, 185, 185, 255);
  }

  .sortButton {
    border: 1px solid rgba(185, 185, 185, 255);
    border-radius: 4px;
    font-size: large;
    padding: 7px;
    margin-left: 10px;
  }
}