.FAQ {
  align-self: flex-start;
  margin: 4% 5%;
}

.FAQ-expandable {
  margin-top: 6%;
}

.FAQ-title {
  font-weight: 500;
  font-size: 1.3rem;
}

.FAQ-text {
  margin-top: 2%;
  line-height: 18px;
}