.Dashboard {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dashboard-icon-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.Dashboard-icons {

}

.Dashboard-tiles-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: solid #333333 1px;

  .ClickIcon-Wrapper:hover {
    background: #6E1326;

    h5 {
      color: white;
    }

    .Tile-icon {
      filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(4807%) hue-rotate(296deg) brightness(115%) contrast(103%);
    }

  }

}

p {
  font-family: SourceSansProRegular, sans-serif;
}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 850px) {

}
