.AppHeader{
  background-color: #efefef;
  padding: 1rem 1rem 1rem;

  .AppHeader-Wrapper{
    .flexBox{
      display: flex;
      justify-content: left;
      position: relative;
      left: -70px;

    }
    @media screen and (max-width: 997px){
      .flexBox{
        justify-content: center;
        width: 130%;
      }
    }
  }
}