.diversitylunch-logo{
  justify-content: center;
  margin: auto;
}

.IconHeader-diversity-logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #b81f40;


  .App h4 {
    font-family: GilroyRegular, sans-serif;
    color: #b81f40;
    font-weight: bold;
    font-size: .7rem;
    height: 1rem;
  }
  .IconHeader-title-powered-by-container {
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
  }
}

.IconHeader-diversity-icon {
  height: 8rem;
  width: auto;
}

@media screen and (max-width: 900px) {
  .IconHeader-diversity-logo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #b81f40;
  }

  @media screen and (max-width: 500px) {
    .IconHeader-diversity-logo-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 2rem;
      height: 100%;
      color: #b81f40;
    }}

}
@media screen and (min-width: 997px) {


.diversitylunch-logo{
  height: 100%;
  width: 100%;
}

.IconHeader-diversity-logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #b81f40;
  margin-left: 250px;
}

.IconHeader-title-container{
  text-align: right;
  font-size: 1000px;
}

.IconHeader-diversity-icon {
  height: 8rem;
  width: auto;
}

.IconHeader-title{
  font-size: 2em;
  margin-top:2%;
}

.IconHeader-title-powered-by-container{
  display: flex;
  justify-content: flex-end;
}

.IconHeader-title-powered-by{
  font-size: 0.7em;
  margin-top: 1%;
  color: black;
}

.IconHeader-title-brockhaus-ag{
  font-size: 0.7em;
  margin-top: 1%;
  color: #575757;
}

.IconHeader-subtitle{

}
}