.diversitylunch-logo{
  justify-content: center;
}



.IconHeader-diversity-logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #b81f40;
  margin-left: 135px;
}

@media screen and (max-width: 900px) {
  .IconHeader-diversity-logo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #b81f40;
    margin-left: 135px;
  }

}
@media screen and (min-width: 910px) {


.diversitylunch-logo{
  height: 100%;
  width: 100%;
}

.IconHeader-diversity-logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #b81f40;
  margin-left: 200px;
}

.IconHeader-title-container{
  text-align: right;
}

.IconHeader-diversity-icon {
  height: 6rem;
  width: auto;
}

.IconHeader-title{
  font-size: 2em;
  margin-top:2%;
}

.IconHeader-title-powered-by-container{
  display: flex;
  justify-content: flex-end;
}

.IconHeader-title-powered-by{
  font-size: 0.7em;
  margin-top: 1%;
  color: black;
}

.IconHeader-title-brockhaus-ag{
  font-size: 0.7em;
  margin-top: 1%;
  color: #575757;
}

.IconHeader-subtitle{

}
}