POSTGRES_USER=spring-backend
POSTGRES_PASSWORD=SomeRandomPassword
POSTGRES_DB=diversity-lunch
DB_HOST=localhost
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=mailhog
MAIL_PASSWORD=mailhogre
MAIL_ADDRESS=mail@example.com
ISSUER_URI=https://urIssuerUri
TENANT_ID=YourAzureTenantId
CLIENT_ID=YourAzureClientId
DIVERSITY_LUNCH_USER_ID="exampleUserId"
CLIENT_SECRET="clientSecret"
ADMIN_GROUP_NAME="adminGroup"
BASE_URL="https://example.com";
